body{
    background-color: #c1bdba;
}


#menu-items{
    width:80% ;
    border:1px solid black;
    height: 30%;
}
.tab{
    width:80%;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
}

table{
   
     width: 100%;
   }

  th, td{
      text-align: center;
       width: 16.6px;
   }

   .complete{
        background-color: green;
   }
   .delete{
       color: red;
   }
   .edit{
       color: blue;
   }

#center{
    text-align: center;
}

#item{
    text-align: center;
}
