body{
    background-color: #c1bdba;
    height: 100%;
    margin:0;
    padding:0;
}


#menu-items{
    width:80% ;
    border:1px solid black;
    height: 30%;
}
.tab{
    width:80%;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
}

#header {
    padding-top: 70px;
    clear:both;
    color:rgb(12, 9, 9);
    height:100%;
    text-align:center;
    margin-bottom: 0;
    padding-bottom: 0;
  } 

table{
   
     width: 100%;
     font-style: oblique;
     background-color: white;
   }

  th, td{
      text-align: center;
       width: 16.6px;
       border: 1px solid rgb(156, 146, 146);
   }
   th{
       background-color: rgb(224, 218, 206);
   }


   .delivered{
       background-color: rgb(25, 59, 25);
       width: contain;
   }
   .accept{
       background-color: rgb(62, 104, 139);

   }
   .decline{
       background-color: rgb(35, 70, 122);
   }
   .delete{
       background-color: rgb(112, 32, 26);
   }
   .edit{
       background-color: rgb(138, 129, 218);
   }

#center{
    text-align: center;
}

#item{
    text-align: center;
}
footer {
    background:#4484CE;
    background-repeat: no-repeat;
    background-position: center top;
    bottom: -20px;
    color:#fff;
    font-family:Kavivanar;
    height:50px; 
    line-height: 50px;
    margin-top:50px;
    position: relative;
    text-align:center;
    width: 100%;
   }

.modal{
    display: none;
    position: fixed;
    width:50%;
    height: 50%;
    overflow:auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


#myBtn{
    display: flex;
   margin-left: 0px ;
}