html,body{
    margin:0;
    padding:0;
    background-color: #c1bdba;
}
.blue{
    display: flex;
    text-align: center;
    justify-content: center; 
    background-color: #c1bdba;
    height: 100%;
}

h2{
 background-color: #4484CE;
 padding: 30px 35px;
 margin: -10px -50px;
 text-align:center;
 border-radius: 10px 10px 0 0;
}
 
hr{
 margin: 10px -50px;
 border: 0;
 border-top: 1px solid #ccc;
 margin-bottom: 40px;
}
 
div.container{ 
    display: flex;
    text-align: center;
    justify-content: center; 
 height: auto;
 margin:35px auto;
 font-family: 'Raleway', sans-serif;
}
 
div.main{
 width: 300px;
 padding: 10px 50px 25px;
 border: 2px solid gray;
 border-radius: 10px;
 font-family: raleway;
 float:left;
 margin-top:50px;
}
 
input[type=text],input[type=password]{
 width: 100%;
 height: 40px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #4f4f4f;
 font-size: 16px;
 border-radius: 5px;
}

label{
 color: #464646;
 text-shadow: 0 1px 0 #fff;
 font-size: 14px;
 font-weight: bold;
}


 
button{
 font-size: 16px;
 background-color: #4484CE;
 border: 1px solid #f7f4ee;
 color: #4E4D4B;
 font-weight: bold;
 cursor: pointer;
 width: 100%;
 border-radius: 5px;
 padding: 10px 0;
 outline:none;
}
 
button:hover{
 background-color: rgb(157, 196, 240);
}

footer {
    background:#4484CE;
    background-repeat: no-repeat;
    background-position: center top;
    bottom: -20px;
    color:#fff;
    font-family:Kavivanar;
    height:50px; 
    line-height: 50px;
    margin-top:50px;
    position: relative;
    text-align:center;
    width: 100%;
}

