html,body{
    margin:0;
    padding:0;
    background-color: #ffffff;
}
.blue{
    display: flex;
    text-align: center;
    justify-content: center; 
    background-color: #ffffff;
    height: 100%;
}

h2{
 background-color: #4484CE;
 padding: 30px 35px;
 margin: -10px -50px;
 text-align:center;
 border-radius: 10px 10px 0 0;
}
 
hr{
 margin: 10px -50px;
 border: 0;
 border-top: 1px solid #ccc;
 margin-bottom: 40px;
}
 
div.container{ 
    display: flex;
    text-align: center;
    justify-content: center; 
 height: auto;
 margin-top:8%;
 /* margin:35px auto; */
 font-family: 'Raleway', sans-serif;
}
 
div.main{
 width: 300px;
 padding: 10px 50px 25px;
 border: 2px solid gray;
 border-radius: 10px;
 font-family: raleway;
 float:left;
 margin-top:50px;
}
 
input[type=text],input[type=password]{
 width: 100%;
 height: 40px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #080808;
 font-size: 16px;
 border-radius: 5px;
}

label{
 color: #0e0c0c;
 text-shadow: 0 1px 0 #fff;
 font-size: 14px;
 font-weight: bold;
}


 
button{
 font-size: 16px;
 background-color: #4484CE;
 border: 1px solid #f7f4ee;
 color: rgb(0, 0, 0);
 font-weight: bold;
 cursor: pointer;
 width: 100%;
 border-radius: 5px;
 padding: 10px 0;
 outline:none;
}
 
button:hover{
 background-color: rgb(96, 141, 192);
}

footer {
        background:#4484CE;
        background-repeat: no-repeat;
        background-position: center top;
        color:rgb(14, 13, 13);
        font-family:Kavivanar; 
        line-height: 50px;
        margin:0 auto;
        position: fixed;
        text-align:center;
        bottom: 0;
        left: 0;
        bottom: 0;
        height: 50px;
        width: 100%;
        overflow: hidden;
       }
    

